body {
    
}

.stats{
    margin: 0 auto;
    width: 70%;
}

.stats h3{
    font-size: 15px;
    background: 
    linear-gradient(to right, blue, green);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.referral{
    box-shadow: inset 0 0 90px rgba(225,225,0,1);
    margin: 0 auto;
    text-align: center;
    border: 2px solid gold;
    border-radius: 20px;
    width: 80%;
    height: 150px;
}

h3{
    font-size: 27px;
    font-weight: bold;
}

p{
    font-size: 40px;
    margin: -10px;
    font-weight: bold;
}